.ImageGalleryItem {
  display: flex;
  gap: 10px;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
}

.ImageGalleryItemImage {
  width: 250px;
  height: 200px;
  transition: all 0.8s ease-in-out;
  object-fit: cover;
}

.ImageGalleryItemImage:hover {
  transform: scale(1.1);

  cursor: zoom-in;
}
