.ImageGallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(350px, 400px));
  gap: 10px;
  cursor: pointer;
  padding: 0;
}
.text {
  font-size: large;
  align-items: center;
  margin: auto;
  padding-top: 50px;
}
